/* Exercise 12S: Style for Ordering App */

.root {
    -fx-font-size: 14pt;
}

/* 以下に課題12-1のコードを記述 */
.button{
    -fx-background-color:steelblue;
    -fx-text-fill:yellow;
    -fx-font-family:sans-serif;
    -fx-font-size:20pt;
    -fx-font-style:italic;
    -fx-font-weight:bold;       
}
.button:hover{
    -fx-background-color:skyblue;
}
